.hide {
  display: none !important;
}

.fon-modal-wind {
  background-color: #00000076;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
