.header {
  background-color: #00ff5f3b;
  padding: 10px;
  height: 100px;
  // position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__mini-consol {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.pos-btn-them {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
