@import "../../../general_styles/variables.scss";

.btn-burger-menu__btn-burger {
  cursor: pointer;
  display: flex;
  border-radius: 12px;
  background-color: #f4f3f3;
  box-shadow: inset 1px -1px 2px #ffffff,
    inset -1px 1px 4px rgba(0, 0, 0, 0.431372549);
  padding: 5px;
  border: none;
}

.btn-burger-menu__menu {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #00000078;
  overflow: hidden;

  ul {
    position: absolute;
    top: 10px;
    right: -100%;
    background-color: #ffffff;
    padding: 6px;
    // border-radius: 8px;
    max-width: 500px;
    animation: slideIn 0.3s 0s forwards;
    li {
      transform: translateX(150%);
      display: flex;

      &:nth-child(1) {
        animation: liSlideIn 0.5s 0.1s forwards;
      }
      &:nth-child(2) {
        animation: liSlideIn 0.5s 0.3s forwards;
      }
      &:nth-child(3) {
        animation: liSlideIn 0.5s 0.6s forwards;
      }
      &:nth-child(4) {
        animation: liSlideIn 0.5s 0.9s forwards;
      }
    }
  }
}

@keyframes slideIn {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@keyframes liSlideIn {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0px);
  }
}
